.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0277bd; /* Blue */
    color: white;
    position: relative;
    z-index: 10;
}

.logo-container {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; /* Yellow */
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo-container {
        float: none;
        text-align: center;
        margin: 0 auto;
        display: block; /* Ensures it centers properly */
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

}
