.home, .team, .contact, .extra {
  padding: 2rem;
  text-align: center;
}

.btn-primary {
  background-color: #0277bd; /* Blue */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #01579b; /* Darker blue */
}
